# Dependencies
node_modules/
**/node_modules/

# Environments
.env
backend/.env
frontend/.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
*.log

# Project specific
clubhub_utf8.sql
playground/
backend/scripts/

# IDE files
.vscode/
.idea/
backend/clubhub-dev.env
